<div class="bg-header-footer-bg text-muted bur-footer">
    <div class="bur-wide-container">
      <footer>
        <div class="row py-4">
          <div class="col">
            <h3>Contact Us:</h3>
            <a href="mailto:bur.asmebruins@gmail.com">bur.asmebruins@gmail.com</a>
          </div>
          <div class="col row">
            <div class="col">
              <a href="https://github.com/ASME-BUR">
                <img class="bur-footer-icon" src="https://ssl.gstatic.com/atari/images/sociallinks/github_white_44dp.png"/>
              </a>
            </div>
            <div class="col">
              <a href="https://www.linkedin.com/company/asme-at-ucla/">
                <img class="bur-footer-icon" src="https://ssl.gstatic.com/atari/images/sociallinks/linkedin_white_44dp.png"/>
              </a>
            </div>
            <div class="col">
              <a href="https://www.youtube.com/@BURatUCLA">
                <img class="bur-footer-icon" src="https://ssl.gstatic.com/atari/images/sociallinks/youtube_white_44dp.png"/>
              </a>
            </div>
            <div class="col">
              <a href="https://www.instagram.com/ucla_bur/">
                <img class="bur-footer-icon" src="https://ssl.gstatic.com/atari/images/sociallinks/instagram_white_44dp.png"/>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>