$transparent:   rgba(0,0,0,0) !default;

$black:         rgba(33,33,33,1) !default; // Body text
$gray:          rgba(106,106,106,1) !default;
$medium-gray:   rgba(33,33,33,0.1) !default; // Navbar background
$light-gray:    rgba(255,255,255,0.87) !default;
$white:         rgba(255,255,255,1) !default;

$cerulean:      rgba(0,136,193,1) !default; // Header text
$light-green:   rgb(199, 238, 255) !default; // Footer background
