$transparent:   rgba(0,0,0,0) !default;

$black:         rgba(33,33,33,1) !default; // Body text
$gray:          rgba(106,106,106,1) !default;
$dark-gray:     rgba(100,100,100,0.5) !default; // Navbar background
$medium-gray:   rgba(33,33,33,0.3) !default; // Navbar background
$light-gray:    rgba(255,255,255,0.7) !default;
$white:         rgba(255,255,255,1) !default;

$dark-blue:     rgba(15, 44, 77, 1) !default;
$cerulean:      rgba(0, 136, 193, 1) !default; // Header text
$light-blue:    rgb(84, 207, 255) !default;
$light-green:   rgb(199, 238, 255) !default; // Footer background

$dark-blue-clr: rgba(8, 39, 77, 0.2) !default; // Navbar background