---
---

@import "bootstrap";
@import "variables";

@import "navbar";

body {
  padding-top: $navbar-height + 14px;
}

h1 {
  color: $cerulean;
  font-size: 22pt;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
}
h2 {
  color: $cerulean;
  font-size: 18pt;
  font-style: normal;
  font-weight: 700;
  line-height: 1.56;
  margin-bottom: 20px;
}
h3 {
  color: $cerulean;
  font-size: 13pt;
  font-weight: 700;
  letter-spacing: 1px;
}


/* Header */
$banner-height: 480px;
$banner-height-mobile: 600px;

$banner-height-small: 270px;
$banner-height-small-mobile: 300px;

@media (min-width: 600px) {
  .bur-banner {
    height: $banner-height;
  }
  .bur-banner-small {
    height: $banner-height-small;
  }
}
@media (max-width: 600px) {
  .bur-banner {
    height: $banner-height-mobile;
  }
  .bur-banner-small {
    height: $banner-height-small-mobile;
  }
}
.bur-banner {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33,33,33,1);
}
.bur-banner-image {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  background-position: center center;
  background-size: cover;
  opacity: 0.4;
}
.bur-title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 36pt;
  font-weight: 700;
  text-align: center;
  line-height: 1.56;
}
.bur-subtitle-text {
  font-size: 21pt;
  font-style: italic;
}

@media (min-width: 600px) {
  .bur-body {
    margin-top: $banner-height - $navbar-height + 10;
  }
}
@media (max-width: 600px) {
  .bur-body {
    margin-top: $banner-height-mobile - $navbar-height + 10;
  }
}
.bur-body-small {
  margin-top: $banner-height-small - $navbar-height + 30;
}

.bur-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $black;
  line-height: 1.56;
}
.bur-text-large {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $black;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.56;
}
.bur-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.bur-qr-code {
  margin: auto;
  display: block;
  position: relative;
}

.bur-home-video {
  width: 100%;
  min-height: 300px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.bur-button-text {
  text-decoration: none;
}
.bur-button-text:hover {
  text-decoration: underline;
  text-decoration-color: $white;
}
.bur-button {
  margin: auto;
  margin-top: 20px;
  display: block;
  color: $white;
  border: 0.1px solid $black;
  background-color: $cerulean;
  border-radius: 0.3rem;
  padding: 10px 60px;
  font-weight: 700;
  transition: 0.2s;
}
.bur-button:hover {
  filter: brightness(120%);
}

.bur-caption {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style:italic;
  text-align:center;
  margin-top: 10px;
}


.home-photo {
  min-width: 400px;
}

@media (max-width: 800px) {
  .small-margin-top {
    margin-top: 40px;
  }  
  .home-photo {
    min-width: 300px;
    max-width: 400px;
  }
}

.bur-sponsor-photo {
  object-fit: cover;
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
}

.not-found-photo {
  max-width: 900px;
  display: block;
  margin: auto;
}

.bur-text-container {
  @extend .container-fluid;
  max-width: 1080px;
}

.bur-wide-container {
  @extend .container-lg;
  margin-bottom: 10px;
}

/* Footer */
.bur-footer {
  background-color: $light-green !important;
  min-height: 100px;
}
.bur-footer-icon {
  height: 44px;
  width: 44px;
  background-color: black;
  border-radius: 50%;
  transition: 0.3s;
}
.bur-footer-icon:hover {
  background-color: $cerulean;
}


/* Members */
.bur-members {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bur-subteam-row {
  padding: 10px 28px 10px 28px;
  margin: 0px;
  max-width: 1400px;
}
.bur-lead-description {
  padding: 14px 8px;
}
.bur-profile {
  text-align: center;
  padding: 0px 15px 0px 15px;
}
.bur-lead-name {
  font-size: 18pt;
  font-style: normal;
  font-weight: 700;
  line-height: 1.56;
}

@media (min-width:800px) {
  .bur-lead-image {
    max-width: 340px;
    height: 360px;
    object-fit: cover;
  }
  .bur-profile-image {
    max-width: 290px;
    height: 310px;
    object-fit: cover;
  }  
}
@media (max-width:800px) {
  .bur-lead-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .bur-profile-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }  
}
.bur-profile-role {
  font-variant: normal;
  font-weight: 700;
  margin: 8px 0px;
}
.bur-subteam-members {
  font-size: 12pt;
  line-height: 1.56;
}

